<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WebSocket - Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
	#inbox {
		max-height: 500px;
		overflow-y: auto;
	}
	
	.green {
		color: #5cb85c;
	}
	
	.avatar {
		position: relative;
	}
	
	.avatar-status {
		position: absolute;
		left: 1.6rem;
		top: 1.2rem;
		font-size: 1rem;
	}

</style>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="pull-left">
				<h2>Chatting App</h2>
			</div>
			<!-- <button id="btn-connect" type="button" class="btn btn-default">Connect</button> -->
			<div class="pull-right">
				<h3>
					Hello <small th:text="${user?.username}"></small>
				</h3>
			</div>
			<div class="clearfix"></div>
			<hr />
		</div>
		<div class="row">
			
			<div class="col-md-9">
				
			</div>
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked well">
					<li>
						<a href="#" th:href="@{/web-socket/send-to/duongnd}">
							<span class="avatar">
								<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" width="30" height="30" /> 
								<i class="glyphicon glyphicon-globe avatar-status"></i> 
							</span>
							duongnd 
						</a>
					</li>
					<li>
						<a href="#" th:href="@{/web-socket/send-to/loanminh}">
							<span class="avatar">
								<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" width="30" height="30" /> 
								<i class="glyphicon glyphicon-globe avatar-status"></i> 
							</span>
							loanminh 
						</a> 
						
					</li>
					<li>
						<a href="#" th:href="@{/web-socket/send-to/user1}">
						<span class="avatar">
							<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" width="30" height="30" /> 
							<i class="glyphicon glyphicon-globe avatar-status"></i> 
						</span>
							user1 
						</a>
					</li>
					<li>
						<a href="#" th:href="@{/web-socket/send-to/user2}">
						<span class="avatar">
							<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg"  width="30" height="30" /> 
							<i class="glyphicon glyphicon-globe avatar-status"></i>
						</span>
							user2 
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

</body>

<!-- jQuery library -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</html>