<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WebSocket - Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
	#inbox {
		max-height: 500px;
		overflow-y: auto;
	}
	
	.green {
		color: #5cb85c;
	}
	
	.avatar {
		position: relative;
	}
	
	.avatar-status {
		position: absolute;
		left: 1.6rem;
		top: 1.2rem;
		font-size: 1rem;
	}

</style>
</head>

<body>
<div class="container">
		<div class="row">
			<div class="pull-left">
				<h2>Chatting App</h2>
			</div>
			<!-- <button id="btn-connect" type="button" class="btn btn-default">Connect</button> -->
			<div class="pull-right">
				<h3>
					Hello <small th:text="${user?.username}"></small>
				</h3>
			</div>
			<div class="clearfix"></div>
			<hr />
		</div>
		<div class="row">
			
			<div class="col-md-9">
				<div id="inbox" class="row">
					<div th:remove="all" class="col-sm-2 text-center">
						<img class="img-circle"
							src="https://www.w3schools.com/bootstrap/img_avatar3.png"
							width="65" height="65" />
					</div>
					<div th:remove="all" class="col-xs-10">
						<h3>
							duongnd <small>Sep 29, 2015, 9:12 PM</small>
						</h3>
						<p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-sm-offset-2">
						<div class="input-group">
							<input id="input-inbox" type="text" class="form-control"
								placeholder="Enter a message" th:attr="data-to-username=${toUserName}" />
							<div class="input-group-btn">
								<button id="btn-send-inbox" type="button"
									class="btn btn-default">
									<i class="glyphicon glyphicon-chevron-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked well">
					<li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/duongnd') ? 'active':''}">
						<a href="#" th:href="@{/web-socket/send-to/duongnd}">
							<span class="avatar">
								<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" width="30" height="30" /> 
								<i class="glyphicon glyphicon-globe avatar-status"></i> 
							</span>
							duongnd 
						</a>
					</li>
					<li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/loanminh') ? 'active':''}">
						<a href="#" th:href="@{/web-socket/send-to/loanminh}">
							<span class="avatar">
								<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" width="30" height="30" /> 
								<i class="glyphicon glyphicon-globe avatar-status"></i> 
							</span>
							loanminh 
						</a> 
						
					</li>
					<li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/user1') ? 'active':''}">
						<a href="#" th:href="@{/web-socket/send-to/user1}">
						<span class="avatar">
							<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" width="30" height="30" /> 
							<i class="glyphicon glyphicon-globe avatar-status"></i> 
						</span>
							user1 
						</a>
					</li>
					<li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/user2') ? 'active':''}">
						<a href="#" th:href="@{/web-socket/send-to/user2}">
						<span class="avatar">
							<img class="img-circle" src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg"  width="30" height="30" /> 
							<i class="glyphicon glyphicon-globe avatar-status"></i>
						</span>
							user2 
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</body>

<!-- jQuery library -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SockJS -->
<script type="text/javascript"
	src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<!-- STOMP -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<!-- DATE FORMAT -->
<script type="text/javascript"
	src="https://momentjs.com/downloads/moment.js"></script>
<!-- Handling messages  -->
<script type="text/javascript" th:src="@{/websocket/stomp.js}"></script>

</html>